body {
    background-image: url('/img/globe.jpg');
    color: #1a363d;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    justify-content: center;
}

header {
    color: rgb(255, 255, 255);
    width: 100%;
}

h1 {
margin-left: 120px;
font-size: 50px;
font-weight: lighter;
width: 100%;
}

input[type=text],
input[type=number] {
    line-height: 2em;
    border: 0;
   background-color: rgba(255, 255, 255, 0.328); 
}

button {
    border: 0;
    border-radius: 10%;
    background-color: #fdfdfd8e;
    padding: 6px 10px;
    margin: 2px;
    cursor: pointer;
    transition: background-color .5s;
}

button:hover {
    background-color: #74ccff;
}

.muted {
    font-size: .9em;
}

.smaller {
    font-size: .8em;
}


.main-content {
    display: flex;
    justify-content: center;
    gap: 15rem; 
    width: 100%;
}


input{
    border-radius: 5px;
}

.selected-loc{
   width: 95%;
    justify-self: center;
    font-weight: lighter;
   margin-bottom: 20px;

}



.main-content {
    display: flex;
    justify-content: center;
    gap: 15rem; 
    width: 100%;
}


input{
    border-radius: 5px;
}

.selected-loc{
   width: 95%;
    justify-self: center;
    font-weight: lighter;
   margin-bottom: 20px;

}


.hidden {
    display: none;
}